@import "tailwindcss";

root {
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;

  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #fafafa;
  --secondary-color: #7a78ff;
  --accent-color: #ff6d38;
  --heading-color: #333;
  --light-color: #f9f9f9;
  --dark-color: #333;
  --grey-color: #595959;
  --medium-grey-color: #f0f0f2;
  --yellowcolor: goldenrod;

  --btn-primary-bg: #333;
  --btn-secondary-bg: #8584ff;
  --btn-accent-bg: #ffc412;
  --btn-primary-hover-bg: #e74c3c;
  --btn-secondary-hover-bg: #333;
  --btn-accent-hover-bg: #8584ff;
  --btn-disabled: #595959;
  --btn--active: green;

  --font-family-heading: "Amatic SC", sans-serif;
  --font-family-body: "Roboto", sans-serif;
  --border-radius: 8px;

  --shadow-sm: 0 2px 5px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 3px 10px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-xl: 0 5px 15px rgba(0, 0, 0, 0.2);
  --section-margin: 2rem 0;
  --container-width: 90%;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #fafafa;
  --secondary-color: #7a78ff;
  --accent-color: #ff6d38;
  --heading-color: #333;
  --light-color: #f9f9f9;
  --dark-color: #333;
  --grey-color: #595959;
  --medium-grey-color: #f0f0f2;
  --yellowcolor: goldenrod;

  --btn-primary-bg: #333;
  --btn-secondary-bg: #8584ff;
  --btn-accent-bg: #ffc412;
  --btn-primary-hover-bg: #e74c3c;
  --btn-secondary-hover-bg: #333;
  --btn-accent-hover-bg: #8584ff;
  --btn-disabled: #595959;
  --btn--active: green;

  --font-family-heading: "Amatic SC", sans-serif;
  --font-family-body: "Roboto", sans-serif;
  --border-radius: 8px;

  --shadow-sm: 0 2px 5px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 3px 10px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-xl: 0 5px 15px rgba(0, 0, 0, 0.2);
  --section-margin: 2rem 0;
  --container-width: 90%;
}

html,
body {
  background-color: var(--medium-grey-color);
  height: 100%;
  margin: 0;
}
body {
  font-family: var(--font-family-body);
  font-size: 1em;
  box-sizing: border-box;
  padding-bottom: 80px;
  color: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* BOUTONS */
button {
  height: 45px;
  padding: 0.5em;
  border-radius: 15px;
}

/* HEADER */
header {
  min-height: 4.25rem;
  background-color: rgb(243, 240, 240);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
  font-family: var(--font-family-heading);
  font-size: 3em;
  font-weight: bold;
  margin: 0.5em 0;
  text-align: center;
}
h2 {
  font-family: var(--font-family-heading);
  font-size: 1.5em;
  font-weight: bold;
}
h3 {
  font-family: var(--font-family-heading);
  font-weight: bold;
  margin-bottom: 0.25em;
}
h4 {
  font-family: var(--font-family-heading);
  font-size: 1em;
  color: white;
  font-weight: bold;
  margin-bottom: 0.25em;
  margin-top: 0.5em;
}

/* PAGE 1: ACCUEIL*/

main {
  /* margin-top: 5em; */
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* FOOTER */

/* footer {
  background-color: var(--medium-grey-color);
  padding: 2rem;
  text-align: center;
  font-size: 0.875rem;
  color: var(--dark-grey-color);
  margin-top: auto;
}

footer p {
  margin: 0.5rem 0;
}

footer a {
  color: var(--btn-primary-bg);
  text-decoration: none;
  font-weight: 500;
}

footer a:hover {
  color: var(--btn-primary-hover-bg);
  text-decoration: underline;
} */
